In [17]:
import pandas as pd
import glob
import math
import xlrd
import openpyxl
import re

# Define date interval quartals

def get_quartal(date):
    if date.month in [1, 2, 3]:
        return 'Q1'
    elif date.month in [4, 5, 6]:
        return 'Q2'
    elif date.month in [7, 8, 9]:
        return 'Q3'
    else:
        return 'Q4'

In [41]:
filepath = "/Users/graciaandriamiadana/Documents/Research Culture PGR project/data/Combined PGR studenship payments 2022-23.xlsx"
df = pd.read_excel(filepath, engine= 'openpyxl')
df.head(5)

,Student ID,Budget code,A/c Code,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,...,2023-06-01 00:00:00,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,School,Start date,End date,Duration,Source,uplift to 1/10/2022 payment for cost of living increase
0,200343938,ECSY1A3R,3620,4515.5,NaN,NaN,4917,NaN,NaN,4917,...,NaN,4917,NaN,NaN,AIDD_EECS,2022-10-01 00:00:00,2026-09-30 00:00:00,48,BBSRC,401.5
1,220679211,ECSY1A2R,3620,NaN,NaN,6556,NaN,NaN,NaN,4917,...,NaN,4917,NaN,NaN,AIDD_EECS,2022-12-01 00:00:00,2026-11-30 00:00:00,48,BBSRC,NaN
2,200346331,BCCG1D3R,3620,5250,NaN,NaN,5750,NaN,NaN,5750,...,NaN,5750,NaN,NaN,BCI,2021-10-01 00:00:00,2024-09-30 00:00:00,36,CRUK + CoL Centre,500
3,200826925,IRM9045B,3620,4917,4917,NaN,4917,NaN,NaN,4917,...,NaN,4917,NaN,NaN,BCI,2022-10-01 00:00:00,2025-09-30 00:00:00,36,BCSC,0
4,200974709,PRN1040R,3620,4515.5,NaN,NaN,4917,NaN,NaN,4917,...,NaN,4917,NaN,NaN,BCI,2020-10-01 00:00:00,2024-09-30 00:00:00,48,BBSRC LIDo,401.5

In [42]:
# Reshape the DataFrame using pd.melt() to unpivot date columns
df_melted = pd.melt(df, id_vars=['Student ID', 'Budget code', 'A/c Code', 'School', 'Start date', 'End date', 'Duration', 'Source'],
                    var_name='Date', value_name='Amount')

# Convert 'Date' column to datetime format
df_melted['Date'] = pd.to_datetime(df_melted['Date'], errors='coerce')  # 'coerce' to handle any parsing errors

# # Convert non-numeric strings to NaN in 'Amount' columns
df_melted['Amount'] = pd.to_numeric(df_melted['Amount'], errors='coerce')

# Convert the "Source" column to strings 
df_melted["Source"] = df_melted["Source"].astype(str)

In [43]:
# Uncomment this block for dataset 2022-23
# but do not run for all other datasets

# Handle additional column ('uplift to 1/10/2022 payment for cost of living increase')
df_melted['uplift_amount'] = pd.to_numeric(df['uplift to 1/10/2022 payment for cost of living increase '], errors='coerce')

# Combine 'Amount' and 'uplift_amount' columns
df_melted['Total_Amount'] = df_melted['Amount'].fillna(0) + df_melted['uplift_amount'].fillna(0)

In [44]:
df_melted['School'] = df_melted['School'].fillna('')

# Perform case-insensitive replacements and transformations in the 'School' column of df_melted
replacements = {
    r'.*EECS.*': 'EECS',        # Replace entries containing "EECS" with "EECS"
    r'^.*Geog.*$': 'School of Geography',   # Replace entries containing "Geog" with "Geography"
    r'.*Blizard.*': 'Blizard Institute',  # Replace entries containing "Blizard" with "Blizard"
    r'.*BLIZARD.*': 'Blizard Institute',  # Replace entries containing "Blizard" with "Blizard"
    r'^.*SED.*$': 'SED' ,          # Replace entries containing "SED" with "SED"
    r'^.*IPHS.*$': 'IPHS' ,          # Replace entries containing "SED" with "SED"
    r'^.*SLLF.*$': 'SLLF' ,          
    r'^.*History.*$': 'School of History',           
    r'^.*Law.*$': 'School of Law',
}          


# Iterate over the dictionary and perform replacements
for pattern, replacement in replacements.items():
    mask = df_melted['School'].str.contains(pattern, case=True, regex=True, na=False)
    df_melted.loc[mask, 'School'] = replacement

# Remove rows where 'School' is an empty string
df_melted = df_melted[df_melted['School'] != '']


print(sorted(df_melted["School"].unique().tolist()))

['BCI', 'Blizard Institute', 'DCE_Maths', 'EECS', 'IPHS', 'IoD', 'IoD_BCI', 'SBBS', 'SBM', 'SED', 'SEF', 'SEMS', 'SLLF', 'SMS', 'SPCS', 'SPIR', 'School', 'School of Geography', 'School of History', 'School of Law', 'WHRI', 'WIPH']

In [46]:
# Read the Excel file containing the category mappings
mapping_file = '/Users/graciaandriamiadana/Documents/Research Culture PGR project/data/Sources classification.xlsx'
category_mapping = pd.read_excel(mapping_file)

# Initialize an empty dictionary for replacements
replacements = {}

# Iterate over each category and its sub-names to generate regex patterns
for category in category_mapping.columns:
    for name in category_mapping[category].dropna():
        # Create a regex pattern that matches the name within any text
        pattern = rf'.*{re.escape(name)}.*'
        replacements[pattern] = category

# replacements[r'^CDA supplemen.*'] = 'UKRI'
# replacements[r'^AIM CDT.*'] = 'UKRI'

# Additional entries grouped under "Charities"
charities_entries = [
    'HS Barlow Charitable Trust/ Paragraf',
    'Heart Research UK',
    'Horne Family Charitable Fdn',
    'Horne Family foundation',
    'Bowel Research UK',
    'Welcome',
    'Wellcome',
    'PWSA UK',
    'Prostate Cancer UK',
    'Stuart Hall Foundation (SHF).',
]

# Add these entries to the replacements dictionary under "Charities"
for entry in charities_entries:
    pattern = rf'.*{re.escape(entry)}.*'
    replacements[pattern] = 'Charities'

# Additional entries grouped under "Industry"
industry_entries = [
    'AstraZeneca',
    'Artios Pharma',
    'Huawei',
    'Industrial top-up',
    'Industry',
    'Industry (Creative Assembly)',
    'LTA Cola',
    'META',
    'Meta Platforms, Inc.',
    'Microsoft',
    'COLA'
]

# Add these entries to the replacements dictionary under "Industry"
for entry in industry_entries:
    pattern = rf'.*{re.escape(entry)}.*'
    replacements[pattern] = 'Industry'

# Additional entries grouped under "UKRI"
ukri_entries = [
    'CDA supplement',
    'AIM CDT',
]

# Add these entries to the replacements dictionary under "UKRI"
for entry in ukri_entries:
    pattern = rf'.*{re.escape(entry)}.*'
    replacements[pattern] = 'UKRI'

# Additional entries grouped under "Internal"
internal_entries = [
    'SBBS',
    'SPIR',
    'SPCS',
    'WIPH',
    'Wolfson',
    'Supervisor Project',
    'Supervisor project',
    'Faculty',
    'Faculty Match fund',
    'Faculty Match fund.  P/T rates from 01-Oct-22.',
    'Faculty match fund (50%)',
    'BAME studentship',
]

# Add these entries to the replacements dictionary under "Internal"
for entry in internal_entries:
    pattern = rf'.*{re.escape(entry)}.*'
    replacements[pattern] = 'Internal'

print(replacements)

for pattern, replacement in replacements.items():
    mask = df_melted['Source'].str.contains(pattern, case=True, regex=True, na=False)
    df_melted.loc[mask, 'Source'] = replacement


print(len(df_melted["Source"].unique().tolist()))
# print("\n\n")
(sorted(df_melted["Source"].unique().tolist()))

{'.*School.*': 'Internal', '.*QM\\ Principal.*': 'Internal', '.*QM.*': 'Internal', '.*Queen\\ Mary\\ U.*': 'Internal', '.*EPSRC.*': 'UKRI', '.*STFC.*': 'UKRI', '.*SBCS.*': 'Internal', '.*MRC\\ DTP.*': 'UKRI', '.*Barts\\ Charit.*': 'Charities', '.*UKRI.*': 'UKRI', '.*ESRC\\ LISS\\ DT.*': 'UKRI', '.*NERC\\ DTP.*': 'UKRI', '.*AHRC.*': 'UKRI', '.*BHF.*': 'Charities', '.*BCI.*': 'Internal', '.*SEMS.*': 'Internal', '.*School\\ of\\ Bu.*': 'Internal', '.*CRUK.*': 'Charities', '.*WHRI.*': 'Internal', '.*ESRC\\ 1\\+3.*': 'UKRI', ".*Principal's.*": 'Internal', '.*ESRC\\ LISS.*': 'UKRI', '.*MRC.*': 'UKRI', '.*Royal\\ Societ.*': 'Charities', '.*Department\\ f.*': 'Internal', '.*Medical\\ Rese.*': 'Charities', '.*EPSRC\\ DTP.*': 'UKRI', '.*Leverhulme\\ T.*': 'Charities', '.*School\\ \\(PAR\\).*': 'Internal', ".*QM\\ S'Ship.*": 'Internal', '.*MAT\\ grant\\ \\(E.*': 'UKRI', '.*QM\\ Studentsh.*': 'Internal', '.*SEF.*': 'Internal', '.*Life\\ Science.*': 'Internal', '.*ESRC\\ \\(LISS\\ D.*': 'UKRI', '.*Dept.*': 'Internal', '.*LSI.*': 'Internal', '.*BBSRC.*': 'UKRI', '.*ESRC.*': 'UKRI', '.*SBM.*': 'UKRI', '.*Leverhulme.*': 'Charities', '.*NERC.*': 'UKRI', '.*Wellcome\\ Tru.*': 'Charities', '.*QM\\ \\-\\ School.*': 'Internal', '.*Cancer\\ Resea.*': 'Value 19-20', '.*H2020.*': 'EU', '.*Blizard.*': 'Internal', '.*Rosetrees\\ Tr.*': 'Charities', '.*School\\ of\\ Ec.*': 'Internal', '.*Department.*': 'Internal', '.*BBSRC\\ LIDo.*': 'UKRI', '.*Project\\ gran.*': 'UKRI', '.*ESRC\\ match.*': 'UKRI', '.*School\\ of\\ La.*': 'Internal', '.*SPA.*': 'Internal', '.*ESRC\\ 1\\+3\\ mat.*': 'UKRI', '.*QMUL\\ match\\ f.*': 'Internal', '.*0\\.5\\ QM\\ Princ.*': 'Internal', '.*QM\\ \\&\\ School.*': 'Internal', '.*School\\ top\\-u.*': 'Internal', '.*SMD.*': 'Internal', '.*AHRC\\ \\(LAHP\\).*': 'UKRI', '.*Institute.*': 'Internal', '.*RCUK\\ Student.*': 'Charities', '.*School\\ of\\ Po.*': 'Internal', '.*Law.*': 'Internal', '.*EPSRC\\ \\(RCUK.*': 'UKRI', '.*IGGI\\ grant.*': 'UKRI', '.*Barry\\ Reed\\ /.*': 'Charities', '.*ESRC\\ LSS\\ DTP.*': 'UKRI', '.*EPSRC\\ /\\ UKRI.*': 'UKRI', '.*Other\\ source.*': 'Other', '.*LIDo\\ \\(BBSRC\\).*': 'UKRI', '.*QM\\ LSI.*': 'Internal', '.*NIHR\\ ARC.*': 'UKRI', '.*EPSRC\\ DTP\\ CA.*': 'UKRI', '.*Schlumberger.*': 'Charities', '.*Unilever.*': 'Industry', '.*LIDo\\ BBSRC.*': 'UKRI', '.*CITI\\ and\\ UCB.*': 'Internal', '.*East\\ London.*': 'Charities', '.*SMD\\ Matched.*': 'Internal', '.*LTA\\ \\(COLA\\).*': 'Other', '.*QM\\ Research.*': 'Internal', '.*CRUK\\ Acceler.*': 'Charities', '.*BBSRC\\ Case/G.*': 'UKRI', '.*Zhoukou\\ Tian.*': 'Other', '.*AWE.*': 'Other', '.*DiscNet\\ \\(Sot.*': 'UKRI', '.*EECS/UKRI\\ \\(A.*': 'UKRI', '.*EPSRC\\ DTP\\ \\(N.*': 'UKRI', '.*Grant\\ funded.*': 'UKRI', '.*EECS.*': 'UKRI', '.*BBC.*': 'Industry', '.*Soton/DiscNe.*': 'UKRI', '.*EPSRC\\ ICASE.*': 'UKRI', '.*STFC/QM.*': 'UKRI', '.*EPSRC\\ iCase.*': 'UKRI', '.*Project\\ Gran.*': 'UKRI', '.*not\\ specifie.*': 'Other', '.*Air\\ Force\\ Of.*': 'Industry', '.*EPSRC\\ Ind\\ CA.*': 'UKRI', '.*LISS\\ DTP\\ ESR.*': 'UKRI', '.*Institute\\ fu.*': 'Internal', '.*CRUK\\ Trainin.*': 'Charities', '.*LISS\\ DTP\\ \\+3.*': 'UKRI', '.*National\\ Ins.*': 'Other', '.*Arthritis\\ Re.*': 'Charities', '.*LIDO.*': 'UKRI', '.*project\\ gran.*': 'UKRI', '.*BBSRC\\ CASE.*': 'UKRI', '.*Alan\\ Turing.*': 'Other', '.*A\\*\\ studentsh.*': 'Internal', '.*INTERREG\\ VA.*': 'Industry', '.*Royal\\ Botani.*': 'Other', '.*DEFRA/TEAGAS.*': 'Other', '.*EPSRC\\ DTP\\ 20.*': 'UKRI', '.*S\\&E\\ Research.*': 'Internal', '.*QM/NIH.*': 'Internal', '.*EPSRC\\ \\(sep\\ f.*': 'UKRI', '.*BBSRC\\ iCASE.*': 'UKRI', '.*GSK.*': 'Other', '.*School\\ funde.*': 'Internal', '.*50:50\\ SPA:IS.*': 'Internal', '.*SeeQuestor\\ L.*': 'Other', '.*British\\ Skin.*': 'Industry', '.*LIDo\\ BBSRC\\ D.*': 'UKRI', '.*QM\\ \\&\\ Alan\\ Tu.*': 'Internal', '.*AHRC\\ CDTG.*': 'UKRI', '.*Asthma\\ UK\\ Ce.*': 'Charities', '.*SEF\\ top\\ up.*': 'Internal', '.*SLLF.*': 'Internal', '.*Wellcome\\ Trust.*': 'Charities', '.*1\\+3\\ 50:50\\ DT.*': 'Internal', '.*Bowel\\ and\\ Ca.*': 'Charities', '.*AHRC\\ LAHP.*': 'UKRI', '.*Barts\\ and\\ th.*': 'Charities', '.*NERC\\ DTP\\ wit.*': 'UKRI', '.*CCLS\\ Cloud\\ P.*': 'Industry', '.*ARAP.*': 'Other', '.*Bowel\\ \\&\\ Canc.*': 'Charities', '.*European\\ Res.*': 'EU', '.*ESRC\\ LISS\\ \\&.*': 'UKRI', '.*Faculty\\ S\\&E.*': 'Internal', '.*Brain\\ Tumour.*': 'Charities', '.*Barts\\ and\\ Th.*': 'Charities', '.*MRC/Lipid\\ Me.*': 'UKRI', '.*Top\\ up.*': 'Internal', '.*LiDO\\ BBSRC.*': 'UKRI', '.*British\\ Jour.*': 'Other', '.*EPSRC\\ DTA.*': 'UKRI', '.*QM\\..*': 'Internal', '.*BBSRC\\ Nation.*': 'UKRI', '.*Blizard\\ \\(SMD.*': 'Internal', '.*BBSRC\\ LIDo\\ D.*': 'UKRI', '.*Human\\ Fronti.*': 'Charities', '.*WHRF.*': 'Internal', '.*Rolls\\ Royce.*': 'Industry', '.*Eli\\ Lilly\\ \\(i.*': 'Other', '.*Temp\\ Budget.*': 'Internal', '.*Oracle\\ Cance.*': 'Charities', ".*NC3R's\\ stude.*": 'Other', '.*BBSRC\\ LiDo\\ D.*': 'UKRI', '.*Defra/Kew.*': 'Other', '.*MS\\ Society\\ \\(.*': 'Charities', '.*BBSRC\\ LIDO\\ D.*': 'UKRI', '.*Oril\\ Industr.*': 'Industry', '.*QMUL\\ strateg.*': 'Internal', '.*BT.*': 'Industry', '.*Nutricia\\ Res.*': 'Charities', '.*MRC\\ National.*': 'UKRI', '.*QM\\ LIDO.*': 'Internal', '.*BBSRC\\ LiDo.*': 'UKRI', '.*BBSRC\\ LIDo\\ i.*': 'UKRI', '.*BBSRC\\ LIDO.*': 'UKRI', '.*RBG\\ Kew.*': 'Other', '.*Biosceptre\\ t.*': 'Industry', '.*SEMS\\ EPSRC\\ D.*': 'UKRI', '.*European\\ Com.*': 'EU', '.*50:50\\ QM:\\ AS.*': 'Internal', '.*SEMS/s/v\\ pac.*': 'Internal', '.*Shijiazhuang.*': 'Other', '.*AO\\ Fdn.*': 'Other', '.*s/v\\ start\\-up.*': 'Industry', '.*MRI.*': 'Other', '.*SEMS\\ PhD\\ str.*': 'Internal', '.*Jinan\\ Yucaox.*': 'Other', '.*Wuxi\\ Second.*': 'Other', '.*Glaxosmithkl.*': 'Industry', '.*Rett\\ Syndrom.*': 'Charities', '.*QM/Myerscoug.*': 'Internal', '.*50%\\ SPA/50%.*': 'Internal', '.*Perrin\\ award.*': 'Other', '.*Research\\ Fac.*': 'Internal', '.*QM/SPA.*': 'Internal', '.*QM/CONACYT.*': 'Internal', '.*Jawabutech\\ G.*': 'Industry', '.*GCRF/Interdi.*': 'UKRI', '.*RCUK\\ rates\\ B.*': 'Charities', '.*EPSRC\\ DTC\\ Pl.*': 'UKRI', '.*Bridgestone.*': 'Other', '.*Kirstall\\ Ltd.*': 'Industry', '.*FormFormForm.*': 'Other', '.*Blizard\\ stud.*': 'Internal', '.*SEMS/s/v\\ \\&\\ R.*': 'Internal', '.*Angle\\ PLC.*': 'Industry', '.*QM/Dept.*': 'Internal', '.*LiDO\\ BBSRC\\ D.*': 'UKRI', '.*Baxter\\ Healt.*': 'Other', '.*IOB\\ EPSRC\\ DT.*': 'UKRI', '.*SEMS\\ Faculty.*': 'Internal', '.*The\\ Weir\\ Gro.*': 'Other', '.*Latrave\\ Ltd.*': 'Industry', '.*Apatech\\ Ltd.*': 'Industry', '.*SEMS/Nanofor.*': 'Internal', '.*Birla\\ Carbon.*': 'Industry', '.*The\\ Royal\\ So.*': 'Charities', '.*Psoriasis\\ As.*': 'Charities', '.*Principals.*': 'Internal', '.*Athritis\\ Res.*': 'Charities', '.*AHRC,\\ 42\\ mon.*': 'UKRI', '.*QM\\ \\-\\ College.*': 'Internal', '.*FAST\\ same\\ as.*': 'Other', '.*Steinberg.*': 'Other', '.*IGGI\\ grant\\ \\-.*': 'UKRI', '.*Hewlett\\ Pack.*': 'Industry', '.*SPIR\\ GTA.*': 'Internal', '.*AHRC\\ CDTG\\ up.*': 'UKRI', '.*SEMS\\ to\\ fund.*': 'Internal', '.*Leverhulme\\ \\(.*': 'Charities', '.*Versus\\ Arthr.*': 'Charities', '.*Balearic\\ Isl.*': 'Other', ".*QM\\ S'Ship\\ \\-.*": 'Internal', '.*0\\.5\\ QM\\ Stude.*': 'Internal', '.*Other\\ \\-\\ Minn.*': 'Other', '.*Maths.*': 'Internal', '.*QMUL\\ Arts\\ an.*': 'Internal', '.*QMUL\\ PAR.*': 'Internal', '.*SBM\\ PAR.*': 'Internal', ".*QM\\ S'ship.*": 'Internal', '.*FBK.*': 'Other', '.*EPSRC\\ CASE\\ w.*': 'UKRI', '.*EPSRC/AHRC.*': 'UKRI', '.*QM\\ Strategic.*': 'Internal', '.*IET\\ Project.*': 'Other', '.*Yamaha.*': 'Industry', '.*CASE\\ \\-\\ addit.*': 'UKRI', '.*CASE\\ \\-\\ top\\-u.*': 'UKRI', '.*dept.*': 'Internal', '.*EU\\ project\\ g.*': 'EU', '.*DSTL\\ \\(grant.*': 'Other', '.*Fondazione\\ B.*': 'Other', '.*Institute\\ of.*': 'Internal', '.*EPSRC\\ DTC.*': 'UKRI', '.*BBC\\ \\ iCase\\ p.*': 'Industry', '.*QM\\ principal.*': 'Internal', '.*DEPT.*': 'Internal', '.*School\\ top\\ u.*': 'Internal', '.*NCNR.*': 'Other', '.*CASE\\ top\\ up.*': 'UKRI', '.*Minnie\\ Brook.*': 'Other', '.*Faculty\\ Rese.*': 'Internal', '.*QM\\ match\\ fun.*': 'Internal', '.*EPSRC\\ Case.*': 'UKRI', '.*BBSRC\\ Case.*': 'UKRI', '.*BioMin\\ Techn.*': 'Industry', '.*University\\ o.*': 'Other', '.*AHRC\\ CDA\\ sup.*': 'UKRI', '.*AHRC\\ CDA\\ wit.*': 'UKRI', '.*Wolfson\\ Inst.*': 'Internal', '.*LISS\\ DTP\\ 1\\+3.*': 'UKRI', '.*NERC\\ Case\\ wi.*': 'UKRI', '.*QM\\ top\\ up.*': 'Internal', '.*QMUL\\ Strateg.*': 'Internal', '.*UCBPharma\\ an.*': 'Industry', '.*QM\\ Faculty\\ c.*': 'Internal', '.*ESRC\\ 1\\+3\\ \\(62.*': 'UKRI', '.*DALI\\ \\(EU\\ Gra.*': 'EU', '.*Willoughby.*': 'Other', '.*WHIR.*': 'Internal', '.*Metagenics.*': 'Industry', '.*EPSRC\\ Case\\ \\(.*': 'UKRI', '.*Barry\\ Reed/B.*': 'Other', '.*Campac.*': 'Industry', '.*Industry\\ top.*': 'Industry', '.*CASE\\ award.*': 'UKRI', '.*LISS\\ DTP,\\ ES.*': 'UKRI', '.*MRC\\ Industri.*': 'UKRI', '.*Law\\ GTA.*': 'Internal', '.*David\\ \\&\\ Ruth.*': 'Other', '.*multiple.*': 'Other', '.*MRC\\ iCASE.*': 'UKRI', '.*stipend\\ top.*': 'Internal', '.*QMUL.*': 'Internal', '.*Rosetrees.*': 'Other', '.*BBSRC\\ \\-\\ CASE.*': 'UKRI', '.*National\\ Cou.*': 'Other', '.*AHRC\\ Collab.*': 'UKRI', ".*King's\\ Colle.*": 'Other', '.*BBSRC\\ \\-\\ LIDo.*': 'UKRI', '.*Pancreatic\\ C.*': 'Charities', '.*UCB\\-UCL\\ Part.*': 'Other', '.*MRC\\ DTP\\ Bart.*': 'UKRI', '.*DALI\\ \\(EU\\ Grant\\).*': 'EU', '.*Life\\ Science\\ and\\ School.*': 'Internal', '.*Alan\\ Turin\\ Institute.*': 'Other', '.*Project\\ Grant\\ \\&\\ School.*': 'UKRI', '.*Other\\ \\-\\ Minnie\\ Brooke\\ Memorial\\ Fund.*': 'Other', '.*EPSRC\\ DTP\\ 2016.*': 'UKRI', '.*DSTL\\ \\(grant\\ funded\\).*': 'Other', '.*Fondazione\\ Bruno\\ Kessler\\.\\ Project\\ Grant.*': 'Other', '.*Grant\\ \\(see\\ notes\\).*': 'Value 20-21', '.*Huawei\\ \\ \\ .*': 'Value 20-21', '.*AHRC\\ Collab\\ with\\ Museum\\ of\\ London.*': 'UKRI', '.*Spotify.*': 'Industry', '.*ESRC\\ .*': 'UKRI', '.*Match\\ funded\\ to\\ ESRC\\ 100%\\ by\\ QM.*': 'Internal', '.*Glaxosmithkline\\ Case\\ Partner.*': 'Industry', '.*BBSRC\\ LiDo\\ DTP\\ iCASE.*': 'UKRI', '.*MRC\\ National\\ Productivity\\ Investment\\ Fund.*': 'UKRI', '.*Barts\\ Charity\\ 2\\ of\\ 2.*': 'Charities', '.*Barts\\ Charity\\ 1\\ of\\ 2.*': 'Charities', '.*DoE.*': 'Other', '.*LiDO\\ BBSRC\\ DTP.*': 'UKRI', '.*The\\ Jacobs\\ Foundation.*': 'Charities', '.*Oril\\ Industrie/Servier.*': 'Industry', '.*Schol.*': 'Internal', '.*Life\\ Sciences\\ \\(LSI\\).*': 'Internal', '.*National\\ Insitutes\\ of\\ Health\\ \\(NIH\\).*': 'Other', '.*Barts\\ Health\\ Trust.*': 'Charities', '.*Royal\\ Botanic\\ Gdns,\\ Kew\\ \\&\\ DEFRA.*': 'Other', '.*A\\*Sttar\\ Research\\ Attachment\\ Programme\\ \\(ARAP\\).*': 'Internal', '.*BBSRC\\ National\\ Productivity\\ Investment\\ Fund.*': 'UKRI', '.*Eli\\ Lilly\\ \\(industrial\\).*': 'Industry', '.*BBSRC\\ LIDo\\ DTP.*': 'UKRI', '.*Human\\ Frontier\\ Science\\ Programme.*': 'Other', ".*Crohn's\\ and\\ Colitis\\ UK.*": 'Charities', '.*MS\\ Society\\ \\(Charity\\).*': 'Charities', ".*NC3R's\\ studentship.*": 'Other', '.*NC£Rs.*': 'Other', '.*Barts\\ and\\ The\\ London\\ Charity\\ and\\ UCB\\ \\(industrial\\ partner\\).*': 'Charities', ".*QMUL\\ strategic\\ s'ship\\ budget\\ PRN1040R\\.\\ Match\\ funded\\ \\(with\\ BBSRC\\ LIDo\\).*": 'Internal', '.*Psoriasis\\ Association.*': 'Charities', '.*British\\ Skin\\ Foundation.*': 'Charities', '.*British\\ Heart\\ Foundation.*': 'Charities', '.*BLT\\ Studentship.*': 'Internal', '.*Barts\\ and\\ The\\ London\\ Charity.*': 'Charities', '.*Research\\ Faculty.*': 'Internal', '.*Asthma\\ UK\\ Centre\\ for\\ Applied\\ Research.*': 'Charities', '.*BBSRC\\ LiDO.*': 'UKRI', '.*IPHS.*': 'Internal', '.*East\\ London\\ NHS.*': 'Charities', '.*National\\ Council\\ for\\ Osteopathic\\ Research.*': 'Other', '.*Blizard\\ \\(SMD\\)\\ .*': 'Internal', '.*ESRC\\ LSS\\ DTP\\ Match\\ funded\\ .*': 'UKRI', '.*THIS\\ Institute.*': 'Other', '.*North\\ Thames\\ ARC\\ grant.*': 'Other', '.*LIDo\\ BBSRC\\ DTP.*': 'UKRI', '.*LiDO.*': 'UKRI', '.*QM\\ Research\\ Supp\\ Fund.*': 'Internal', '.*one\\ off.*': 'Other', '.*EPSRC\\ Ind\\ CASE.*': 'UKRI', '.*Wuxi\\ Second\\ Hospital.*': 'Other', '.*50:50\\ QM:\\ ASTAR.*': 'Internal', '.*SEMS/s/v\\ package.*': 'Internal', '.*Shijiazhuang\\ Huiran\\ Software\\ Tech.*': 'Industry', '.*Paragraf\\ Ltd.*': 'Industry', '.*Welcome\\ Trust.*': 'Charities', '.*Bridgestone\\ Elastomer\\ Research.*': 'Industry', '.*SEMS\\ PhD\\ stratup\\ with\\ Dr\\ T\\ Iskratssch.*': 'Internal', '.*Jinan\\ Yucaoxuan\\ Biotechnology\\ Co\\ LTd.*': 'Industry', '.*ESRC\\ LISS\\ .*': 'UKRI', '.*QM/Myerscough.*': 'Internal', '.*Soton/DiscNet\\ CDT.*': 'UKRI', '.*LSS\\ DTP.*': 'UKRI', '.*PPRC.*': 'Other', '.*Soleno\\ Therapeutics.*': 'Industry', '.*STFC\\ .*': 'UKRI', '.*Jawabutech\\ Grant\\-BIOmess\\ Energy.*': 'Industry', '.*European\\ Commission\\ \\-\\ Prolicell.*': 'EU', '.*EC\\-Prolicell.*': 'EU', '.*GCRF/Interdisciplinary\\ Studentship\\ EPSRC\\ DTP.*': 'UKRI', '.*SEMS\\ EPSRC\\ DTP.*': 'UKRI', '.*Oracle\\ Cancer\\ Trust.*': 'Charities', '.*Fondazione\\ Dompe.*': 'Other', '.*QM\\ match\\ fund\\ \\ 100%\\ at\\ Wellcome\\ £rates.*': 'Internal', '.*NIHR.*': 'UKRI', '.*Bowel\\ and\\ Cancer\\ Research.*': 'Charities', '.*Environamental\\ Agency.*': 'Other', '.*SEMS/s/v\\ \\&\\ Research\\ Support\\ Fund.*': 'Internal', '.*Lloyds\\ Register\\ Foundation\\ PhD\\ Studentship.*': 'Charities', '.*SEMS\\ Faculty\\ Initiative\\ S/ship\\ 2018.*': 'Internal', '.*The\\ Weir\\ Group\\ PLC.*': 'Industry', '.*The\\ Humanitarian\\ Trust.*': 'Charities', '.*Baxter\\ Healthcare.*': 'Industry', '.*SEMS/Nanoforce\\ EU\\ Oyster\\ Grant.*': 'EU', '.*EPSRC\\ DTP\\ 2020\\ CASE.*': 'UKRI', '.*Birla\\ Carbon\\ USA\\ inc.*': 'Industry', '.*EPSRC\\ DTC\\ Plastic\\ Electronic\\ S/ship\\ with\\ Imperial.*': 'UKRI', '.*QM\\ Studentship\\ /\\ DAME\\ mini\\-CDT.*': 'Internal', '.*QMUL\\ \\(covid\\ phase\\ 2\\).*': 'Internal', ".*QM\\ Principal's\\ Studentship.*": 'Internal', '.*C\\-19\\ allowance.*': 'Internal', ".*QM\\ Principal's.*": 'Internal', ".*QM\\ Principal's\\ Award.*": 'Internal', '.*QMUL\\ Research\\ Studentship.*': 'Internal', '.*Queen\\ Mary\\ University\\ of\\ London.*': 'Internal', '.*QM\\ Studentship.*': 'Internal', '.*School\\ of\\ Business\\ and\\ Management.*': 'Internal', '.*Department\\ funded.*': 'Internal', '.*School\\ .*': 'Internal', '.*Queen\\ Mary\\ University\\ of\\ London\\ Arts\\ and\\ Humanities.*': 'Internal', '.*School\\ of\\ Economics\\ and\\ Finance.*': 'Internal', '.*QM\\ match\\ fund.*': 'Internal', ".*Principal's\\ S'ship.*": 'Internal', '.*GTA.*': 'Internal', '.*S\\&E\\ Research\\ Support\\ Fund.*': 'Internal', '.*School\\ of\\ Law.*': 'Internal', '.*QMUL\\ match\\ funding.*': 'Internal', '.*QMUL\\ CDTA.*': 'Internal', '.*Other\\ source\\ \\-\\ S\\&E\\ Research\\ Support\\ Fund.*': 'Internal', '.*A\\*\\ studentship.*': 'Internal', '.*QM\\ \\&\\ Alan\\ Turing.*': 'Internal', '.*CITI\\ and\\ UCB\\ Biopham.*': 'Internal', '.*School\\ top\\-up\\ \\(was\\ only\\ School\\ funded\\ until\\ June\\ 2020\\ while\\ waiting\\ for\\ IGGI\\ grant\\ code\\).*': 'Internal', '.*QMUL\\ \\(IGGI\\).*': 'Internal', '.*QM\\ Research\\ Support\\ Fund\\..*': 'Internal', '.*QM\\ Principal\\ 2020/21.*': 'Internal', '.*QM\\ CDTA.*': 'Internal', '.*50:50\\ SPA:ISIS.*': 'Internal', '.*QM\\ Studentship\\ \\-\\ DAME.*': 'Internal', '.*QMUL\\ Research\\ Studentship\\ \\(BAME\\).*': 'Internal', '.*QMUL\\ Arts\\ and\\ Humanities\\ Faculty.*': 'Internal', '.*School\\ of\\ Politics\\ and\\ International\\ Relations.*': 'Internal', '.*QMUL\\ Strategic\\ Research\\ Fund.*': 'Internal', '.*QM\\ Strategic\\ Studentship.*': 'Internal', '.*CASE\\ \\-\\ additional\\ top\\-up.*': 'Internal', '.*QM\\ \\-\\ College\\ contribution\\ to\\ the\\ IGGI\\ programme.*': 'Internal', '.*QMUL\\ match\\ funding\\ \\-\\ 50%\\ Part\\-time.*': 'Internal', '.*SMD\\ Matched\\ funds.*': 'Internal', '.*School\\ of\\ Politics\\ and\\ International\\ Relations\\ graduate\\ teaching.*': 'Internal', '.*School\\ funded.*': 'Internal', '.*School\\ top\\-up.*': 'Internal', '.*QM\\ \\-\\ School\\ code\\ but\\ IGGI\\ grant.*': 'Internal', '.*School\\ top\\ up.*': 'Internal', '.*QMUL\\ \\(Principal\\).*': 'Internal', ".*QM\\ Principal's\\ award.*": 'Internal', ".*FAST\\ same\\ as\\ Principal's\\ s'ship.*": 'Internal', '.*School\\ top\\-up\\ \\(from\\ July\\ 2020\\).*': 'Internal', '.*Faculty\\ Research\\ Support\\ Fund.*': 'Internal', '.*QM\\ principal\\ studentship.*': 'Internal', '.*Life\\ Sciences\\ Initiative\\ at\\ Queen\\ Mary\\ University\\ of\\ London\\ .*': 'Internal', ".*QM\\ S'Ship\\ \\-\\ supervisor's\\ grant\\ \\(EU\\ office\\).*": 'Internal', '.*UCBPharma\\ and\\ CiTI.*': 'Internal', '.*Research\\ England\\ \\(covid\\ phase\\ 2\\).*': 'UKRI', '.*UKRI\\ \\(covid\\ phase\\ 2\\).*': 'UKRI', '.*ESRC\\ LISS\\ DTP.*': 'UKRI', '.*MAT\\ grant\\ \\(EPSRC\\).*': 'UKRI', '.*EPSRC\\ CDT\\ MAT.*': 'UKRI', '.*EPSRC\\ \\(IGGI\\).*': 'UKRI', '.*ESRC\\ LISS\\ DTP\\ \\&\\ Faculty\\ Research\\ 50/50.*': 'UKRI', '.*ESRC\\ 1\\+3\\ \\ LISS\\ DTP.*': 'UKRI', '.*EPSRC\\ \\(AIM\\).*': 'UKRI', '.*AHRC\\ LAHP\\ CDA.*': 'UKRI', '.*ESRC\\ 1\\+3\\ .*': 'UKRI', '.*AHRC\\ \\(LAHP\\)\\ match\\ funded.*': 'UKRI', '.*LAHP\\ DTP.*': 'UKRI', '.*EPSRC\\ DTP\\ \\(NPIF\\ Doctoral\\ Training\\ Grant\\).*': 'UKRI', '.*AHRC\\ LAHP\\ match\\ funded.*': 'UKRI', '.*BBSRC\\ iCASE\\ .*': 'UKRI', '.*BBSRC\\ LiDo\\ DTP.*': 'UKRI', '.*EPSRC\\-DTP.*': 'UKRI', '.*ESRC\\ \\(LISS\\ DTC\\).*': 'UKRI', '.*EPSRC\\ \\(RCUK\\ Studentship\\).*': 'UKRI', '.*\\ C\\-19\\ allowance.*': 'UKRI', '.*project\\ grant.*': 'UKRI', '.*EPSRC\\ Ind\\ CASE/Schlumberger\\ Cambridge\\ Research\\ Ltd.*': 'UKRI', '.*EPSRC\\ \\(sep\\ from\\ MAT\\ grant\\).*': 'UKRI', '.*OIV\\ ESRC\\ award.*': 'UKRI', '.*ESRC\\ LISS\\ \\&\\ QM.*': 'UKRI', '.*MRC\\ NPIF.*': 'UKRI', '.*ESRCLISS\\ DTP\\ \\&\\ CASE.*': 'UKRI', '.*ESRC\\ LISS\\ DTP\\ 1\\+3\\ studentship.*': 'UKRI', '.*BBSRC\\ Case/GSK.*': 'UKRI', '.*DiscNet\\ \\(Soton\\).*': 'UKRI', '.*BBSRC\\ CTP\\ with\\ Unilever\\..*': 'UKRI', '.*ESRC\\ LISS\\ DTP\\ 1\\+3.*': 'UKRI', '.*LSS\\ DTP\\ CASE\\ with\\ Digital\\ Trade.*': 'UKRI', '.*LIDo\\ BBSRC\\ .*': 'UKRI', '.*ESRC\\ and\\ QM.*': 'UKRI', '.*AHRC\\ LAHP\\ .*': 'UKRI', '.*ESRC\\ 1\\+3\\ match\\ funded\\ 50/50\\ with\\ QM.*': 'UKRI', '.*AHRC\\ Collaborative\\ Doctoral\\ Partnership\\ –\\ “The\\ Duchess\\ of\\ Botany”.*': 'UKRI', '.*CDA\\ supplement\\ AHRC.*': 'UKRI', '.*ESCR\\ LSS\\ DTP.*': 'UKRI', '.*EPSRC\\ CASE\\ with\\ ROLi.*': 'UKRI', '.*EPSRC\\ Mobility\\ Pilot.*': 'UKRI', '.*AHRC\\ LAHP\\ CDA\\ QM\\ match\\ fundes.*': 'UKRI', '.*IGGI\\ grant\\ \\-\\ UKRI.*': 'UKRI', '.*CASE\\ award\\ \\ Lloyds\\ .*': 'UKRI', '.*LISS\\ DTP,\\ ESRC\\ 1\\+3\\.\\ C.*': 'UKRI', '.*NERC\\ DTP\\ with\\ UCL\\ .*': 'UKRI', '.*ESRC\\ LISS\\ DTP\\ \\-\\ 50%\\ Part\\-time.*': 'UKRI', '.*MRC\\ iCase.*': 'UKRI', '.*UKRI\\ .*': 'UKRI', '.*AHRC\\ REACH\\ uplift.*': 'UKRI', '.*AHRC\\ REACH.*': 'UKRI', '.*EPSRC\\\nMaternity\\ pay\\\n6\\ months\\ full\\ pay\\ \\+\\\n13\\ weeks\\ statutory\\ £151\\.20\\ per\\ week.*': 'UKRI', '.*Grant.*': 'UKRI', '.*EECS/UKRI\\ \\(AIM\\)\\ will\\ need\\ correct\\ budget\\ codes\\ when\\ set\\ up\\ for\\ split\\ payments\\.\\ Waiting\\ for\\ CoD.*': 'UKRI', '.*Research\\ England\\ covid\\ grant.*': 'UKRI', '.*EPSRC\\ .*': 'UKRI', '.*ESRC\\ OIV.*': 'UKRI', '.*Barts\\ Charity.*': 'Charities', '.*Leverhulme\\ Trust.*': 'Charities', '.*Royal\\ Society.*': 'Charities', '.*Leverhulume\\ Trust.*': 'Charities', '.*Rosetrees\\ Trust.*': 'Charities', '.*Brain\\ Tumour\\ Research.*': 'Charities', '.*RCUK\\ Studentship.*': 'Charities', '.*MRC\\ DTP\\ Barts\\ Charity.*': 'Charities', '.*East\\ London\\ NHS\\ Foundation\\ Trust.*': 'Charities', '.*Arthritis\\ Research\\ UK.*': 'Charities', '.*Wellcome\\ Trust\\ .*': 'Charities', '.*Leverhulme\\ Trust\\ Doctoral\\ Scholarship\\ \\(QMUL\\ funded\\).*': 'Charities', '.*Bowel\\ \\&\\ Cancer\\ Research.*': 'Charities', '.*Leverhulme\\ Trust\\ Doctoral\\ Scholarship\\ \\(Lev

['50% LMK Thermosafe',
 '50% S&E matched funding',
 '?',
 'ANTRUK (Antibiotic Research UK)',
 'Acutus Medical',
 'Animal Free Research UK',
 'Aston Martin Formula One Team',
 'BCSC',
 'BCSC Alexandra Carrell',
 'Barry Reed Foundation',
 'Bela - 25%',
 'Belgian Rsch Inst, VITO',
 'Byte Dance',
 'CDT',
 'Carbon Numbers Ltd and match funded',
 'Charities',
 'DAACI',
 'DEFRA',
 'DSTL',
 'Deepmind',
 'Defence Science & Tech Lab',
 'Defence Science and Tech Lab, Gov UK',
 'Delphia',
 'EDA for Consulatancy Project',
 'EPRSC DTP CASE Conversion 2021',
 'ERC 2016 STG 715475',
 'EU',
 'Environmental Agency top up only',
 'Evonik Operations GmbH',
 'Flamin-GO',
 'Gamble Aware',
 'Gilead',
 'Government',
 'Industry',
 'Internal',
 'LISS - DTP (1+3)',
 'LISS - DTP (just +3)',
 'LISS DTP',
 'LiDo',
 'LiDo trs from RVC',
 'MRS Mini CDT 2020 (PreMMIR)',
 'Mini CDT',
 'Music Tribe - 25%',
 'NDA',
 'National Nuclear Lab Ltd',
 'National Polytechnic Inst',
 'One off payment for CDA top up back pay. Paid out on 25-Aug-23',
 'One off payment for historial 3m cost of living uplift',
 'One-off top-up => paid in wkly list 25-apr-2023 => ideally, it wasgoint to be an extension of funding for Oct-Dec 2023 => however, the supervisor, Dr Pearce, had to put this payment through now as his grant closes in June 2023',
 'Other',
 'Perren',
 'Perren grant',
 'Polaris Group',
 'Qinetiq',
 'Reckitt Benckiser',
 'S&E Flexible Match funding',
 'S&E Match Funded',
 'S&E and Bit Bio Ltd',
 'S/s via private donation',
 'Servier',
 'Source',
 'Sumitomo Corp Europe',
 'UKRI',
 'UMG - 50%',
 'Value 19-20',
 'Versus arthritis',
 'iCASE',
 'nan',
 'stipend extension']

In [37]:
(df_melted.head(10))

,Student ID,Budget code,A/c Code,School,Start date,End date,Duration,Source,Date,Amount,uplift_amount,Total_Amount,Quartal
0,200343938,ECSY1A3R,3620,EECS,2022-10-01 00:00:00,2026-09-30 00:00:00,48,UKRI,2022-10-01,4515.50,401.50,4917.00,Q4
1,220679211,ECSY1A2R,3620,EECS,2022-12-01 00:00:00,2026-11-30 00:00:00,48,UKRI,2022-10-01,NaN,NaN,0.00,Q4
2,200346331,BCCG1D3R,3620,BCI,2021-10-01 00:00:00,2024-09-30 00:00:00,36,Charities,2022-10-01,5250.00,500.00,5750.00,Q4
3,200826925,IRM9045B,3620,BCI,2022-10-01 00:00:00,2025-09-30 00:00:00,36,BCSC,2022-10-01,4917.00,0.00,4917.00,Q4
4,200974709,PRN1040R,3620,BCI,2020-10-01 00:00:00,2024-09-30 00:00:00,48,UKRI,2022-10-01,4515.50,401.50,4917.00,Q4
5,180879283,CIFG1E9R,3620,BCI,2020-01-01 00:00:00,2023-12-31 00:00:00,48 months,Charities,2022-10-01,7014.25,0.00,7014.25,Q4
6,180771736,SMD1000B,3620,BCI,2019-10-01 00:00:00,2023-09-30 00:00:00,48,UKRI,2022-10-01,109.50,0.00,109.50,Q4
7,180771736,TBYB1C3R,3620,BCI,2019-10-01 00:00:00,2023-09-30 00:00:00,48,UKRI,2022-10-01,2257.75,200.75,2458.50,Q4
8,180771736,PRN1040R,3620,BCI,2019-10-01 00:00:00,2023-09-30 00:00:00,48,UKRI,2022-10-01,2257.75,200.75,2458.50,Q4
9,220673725,TBYY1A9R,3620,BCI,2022-10-01 00:00:00,2025-09-30 00:00:00,36,UKRI,2022-10-01,4515.50,401.50,4917.00,Q4

In [36]:
# Group by 'Budget code' and sum the 'Amount' for each budget code
budget_totals = df_melted.groupby('Budget code')['Total_Amount'].sum().reset_index()
budget_totals['Formatted Amount'] = budget_totals['Total_Amount'].apply(lambda x: f'£{x:,.2f}')  # Format amount as currency with pounds (£) symbol
budget_totals.rename(columns={'Budget code': 'Budget code', 'Formatted Amount': 'Total Amount (£)'}, inplace=True)

# Display the total amounts per budget code
# print(budget_totals)

#### --- if requested by quartal: --- ####
# Apply custom date intervals to 'Date' column
df_melted['Quartal'] = df_melted['Date'].apply(get_quartal)

# Group by 'Budget code' and 'Quartal' and sum the 'Amount' for each combination
budget_quartal_totals = df_melted.groupby(['Budget code', 'Quartal'])['Total_Amount'].sum().reset_index()

# Display the total amounts per budget code and quartal
# print(budget_quartal_totals)

# Group by 'School' and sum the 'Amount' for each School
studentship_payments_by_school = df_melted.groupby('School')['Total_Amount'].sum().reset_index()

# Format the 'Amount' column
studentship_payments_by_school['Formatted Amount'] = studentship_payments_by_school['Total_Amount'].apply(lambda x: f'£{x:,.2f}')  # Format amount as currency with pounds (£) symbol

# Rename columns for better display
studentship_payments_by_school.rename(columns={'School': 'School Name', 'Formatted Amount': 'Total Amount (£)'}, inplace=True)

# Display the total amounts per budget code
# print(studentship_payments_by_school)


# Group by 'Budget code' and 'Quartal' and sum the 'Amount' for each combination
studentship_payments_by_school_quartal_totals = df_melted.groupby(['School', 'Quartal'])['Total_Amount'].sum().reset_index()

# Format the 'Amount' column
studentship_payments_by_school_quartal_totals['Formatted Amount'] = studentship_payments_by_school_quartal_totals['Total_Amount'].apply(lambda x: f'£{x:,.2f}')  # Format amount as currency with pounds (£) symbol

# Rename columns for better display
studentship_payments_by_school.rename(columns={'School': 'School Name', 'Formatted Amount': 'Total Amount (£)'}, inplace=True)

# Display the total amounts per budget code and quartal
# print(studentship_payments_by_school_quartal_totals)

# Group by 'Source' and sum the 'Amount' for each School
studentship_payments_by_source = df_melted.groupby('Source')['Total_Amount'].sum().reset_index()

# Format the 'Amount' column
studentship_payments_by_source['Formatted Amount'] = studentship_payments_by_source['Total_Amount'].apply(lambda x: f'£{x:,.2f}')  # Format amount as currency with pounds (£) symbol

# Rename columns for better display
studentship_payments_by_source.rename(columns={'Source': 'Source Name', 'Formatted Amount': 'Total Amount (£)'}, inplace=True)

# Display the total amounts per budget code
studentship_payments_by_source

                            Source Name  Total_Amount Total Amount (£)
0                    50% LMK Thermosafe  9.031000e+03        £9,031.00
1       ANTRUK (Antibiotic Research UK)  1.848967e+04       £18,489.67
2                        Acutus Medical  7.703945e+03        £7,703.94
3               Animal Free Research UK  1.009136e+04       £10,091.36
4         Aston Martin Formula One Team  1.806200e+04       £18,062.00
5                                  BCSC  4.425300e+04       £44,253.00
6                 Barry Reed Foundation  2.006950e+04       £20,069.50
7                            Bela - 25%  5.017375e+03        £5,017.38
8               Belgian Rsch Inst, VITO  1.966800e+04       £19,668.00
9                            Byte Dance  0.000000e+00            £0.00
10                                  CDT  1.103850e+04       £11,038.50
11  Carbon Numbers Ltd and match funded  1.639000e+04       £16,390.00
12                            Charities  2.967537e+06    £2,967,536.79
13                                DAACI  2.006950e+04       £20,069.50
14                                DEFRA  2.006950e+04       £20,069.50
15                             Deepmind  9.666800e+04       £96,668.00
16                              Delphia  1.475100e+04       £14,751.00
17         EDA for Consulatancy Project  1.000000e+03        £1,000.00
18                  ERC 2016 STG 715475  1.639000e+03        £1,639.00
19                                   EU  8.903092e+04       £89,030.92
20     Environmental Agency top up only  1.000000e+03        £1,000.00
21               Evonik Operations GmbH  1.966800e+04       £19,668.00
22                            Flamin-GO  3.278000e+03        £3,278.00
23                         Gamble Aware  1.204133e+04       £12,041.33
24                               Gilead  8.388500e+03        £8,388.50
25                           Government  5.507000e+03        £5,507.00
26                             Industry  2.743244e+05      £274,324.37
27                             Internal  6.146264e+06    £6,146,263.96
28          MRS Mini CDT 2020 (PreMMIR)  2.006950e+04       £20,069.50
29                             Mini CDT  2.006950e+04       £20,069.50
30                    Music Tribe - 25%  5.017375e+03        £5,017.38
31                                  NDA  2.000312e+03        £2,000.31
32             National Nuclear Lab Ltd  1.806200e+04       £18,062.00
33            National Polytechnic Inst  3.136000e+03        £3,136.00
34                                Other  3.554289e+05      £355,428.95
35                               Perren  4.917000e+03        £4,917.00
36                         Perren grant  1.475100e+04       £14,751.00
37                        Polaris Group  2.006950e+04       £20,069.50
38                              Qinetiq  5.820100e+04       £58,201.00
39                    Reckitt Benckiser  1.728500e+04       £17,285.00
40             S/s via private donation  2.006950e+04       £20,069.50
41                                 SBBS  1.662503e+05      £166,250.32
42                                 SPCS  9.721900e+04       £97,219.00
43                                 SPIR  2.006950e+04       £20,069.50
44                              Servier  1.898000e+04       £18,980.00
45                               Source  0.000000e+00            £0.00
46                 Sumitomo Corp Europe  1.806200e+04       £18,062.00
47                   Supervisor Project  2.000000e+04       £20,000.00
48                   Supervisor project  4.401000e+03        £4,401.00
49                                 UKRI  6.179641e+06    £6,179,640.56
50                            UMG - 50%  6.556000e+03        £6,556.00
51                          Value 19-20  4.194250e+03        £4,194.25
52                     Versus arthritis  1.193000e+04       £11,930.00
53                                iCASE  2.760000e+03        £2,760.00
54                                  n/a  1.698498e+05      £169,849.76
55                    stipend extension  8.750000e+03        £8,750.00

In [26]:
budget_totals

    Budget code   Total_Amount Total Amount (£)
0      ART4020B   10309.750000       £10,309.75
1      ART4020B  344086.730000      £344,086.73
2      ART4040B   20069.500000       £20,069.50
3      ASTF1A9R       0.000000            £0.00
4      ASTF1B3R   14751.000000       £14,751.00
..          ...            ...              ...
553    TMTL1D5R   24142.000000       £24,142.00
554    TMTP1A4R    6020.666667        £6,020.67
555    TMTW1A2R    3200.000000        £3,200.00
556    TMTY1A3R   20069.500000       £20,069.50
557    bud code       0.000000            £0.00

[558 rows x 3 columns]

In [27]:
# studentship_payments_by_source[studentship_payments_by_source['Source Name'] == "LIDo (BBSRC)"]
studentship_payments_by_source

,Source Name,Total_Amount,Total Amount (£)
0,50% LMK Thermosafe,9031.000000,"£9,031.00"
1,ANTRUK (Antibiotic Research UK),18489.675000,"£18,489.67"
2,ARSACS,20062.000000,"£20,062.00"
3,Acutus Medical,7703.945000,"£7,703.94"
4,Animal Free Research UK,10091.365000,"£10,091.36"
...,...,...,...
168,Versus arthritis,11930.000000,"£11,930.00"
169,Zhoukou Tianjiukang Pharmaceutical Co. Ltd.,3750.000000,"£3,750.00"
170,iCASE,2760.000000,"£2,760.00"
171,n/a,169849.756667,"£169,849.76"
172,stipend extension,8750.000000,"£8,750.00"

In [28]:
studentship_payments_by_school

            School Name  Total_Amount Total Amount (£)
0                   BCI  1.437206e+06    £1,437,205.62
1     Blizard Institute  1.144177e+06    £1,144,176.92
2             DCE_Maths  1.162625e+04       £11,626.25
3                  EECS  2.928362e+06    £2,928,361.71
4                  IPHS  1.497300e+04       £14,973.00
5                   IoD  4.978480e+04       £49,784.80
6               IoD_BCI  2.050750e+04       £20,507.50
7                  SBBS  1.320697e+06    £1,320,697.31
8                   SBM  6.821622e+05      £682,162.25
9                   SED  4.797182e+05      £479,718.25
10                  SEF  8.630242e+05      £863,024.25
11                 SEMS  1.552835e+06    £1,552,834.50
12                 SLLF  5.658201e+05      £565,820.09
13                  SMS  8.014515e+05      £801,451.50
14                 SPCS  1.355680e+06    £1,355,680.40
15                 SPIR  4.050622e+05      £405,062.23
16               School  0.000000e+00            £0.00
17  School of Geography  6.081905e+05      £608,190.46
18    School of History  2.564671e+05      £256,467.08
19        School of Law  4.309379e+05      £430,937.92
20                 WHRI  1.150153e+06    £1,150,153.46
21                 WIPH  1.069954e+06    £1,069,953.75

In [29]:
studentship_payments_by_school_quartal_totals

               School Quartal   Total_Amount Formatted Amount
0                 BCI      Q1  374000.533333      £374,000.53
1                 BCI      Q2  336123.750000      £336,123.75
2                 BCI      Q3  330234.000000      £330,234.00
3                 BCI      Q4  396847.333333      £396,847.33
4   Blizard Institute      Q1  291210.881900      £291,210.88
..                ...     ...            ...              ...
83               WHRI      Q4  304288.947500      £304,288.95
84               WIPH      Q1  266884.265000      £266,884.27
85               WIPH      Q2  268415.407527      £268,415.41
86               WIPH      Q3  256744.450000      £256,744.45
87               WIPH      Q4  277909.625000      £277,909.62

[88 rows x 4 columns]